*.ll
*.ptx
*.o
*.cubin
*.fatbin
*.cui
!/compile-tests/*.ll
!/compile-tests/*.ptx
!/compile-tests/*.cui
!/input/rodinia/bfs/*.ll
!/input/rodinia/gaussian/*.ll
build/
cmake-build-debug/

*.b.*
*.b

*.exe
*.out

*.log

*.old/
*.b/

include/kerma/Support/Config.h
include/kerma/Support/Version.h
