language : cpp
os : linux
dist : bionic
sudo : required
addons :
  apt :
    sources :
      - sourceline: "ppa:ubuntu-toolchain-r/test"
    packages:
      - cmake
      - git
      - doxygen
stages :
  - build

jobs :
  - name : "llvm-10-gcc"
    stage : build
    cache :
      ccache : true
      apt : true
      directories :
        - $HOME/boost/
    env :
      - LLVM_VERSION=10
      - LLVM_HOME=$HOME/llvm-10
      - BOOST_ROOT=$HOME/boost/172
    before_script:
      - mkdir $LLVM_HOME
      - wget -c https://github.com/llvm/llvm-project/releases/download/llvmorg-10.0.0/clang+llvm-10.0.0-x86_64-linux-gnu-ubuntu-18.04.tar.xz
      - tar xf clang+llvm-10.0.0-x86_64-linux-gnu-ubuntu-18.04.tar.xz -C $HOME/llvm-10
      - chmod +x scripts/travis/install_boost.sh
      - scripts/travis/install_boost.sh
    script:
      - mkdir build && cd build && cmake ..
      - make

  - name : "llvm-10-clang"
    stage : build
    cache :
      ccache : true
      apt : true
      directories :
        - $HOME/boost/
    env :
      - LLVM_VERSION=10
      - LLVM_HOME=$HOME/llvm-10
      - CLANGPP=$LLVM_HOME/bin/clang++
      - CLANG=$LLVM_HOME/bin/clang
      - BOOST_ROOT=$HOME/boost/172
    before_script:
      - mkdir $LLVM_HOME
      - wget -c https://github.com/llvm/llvm-project/releases/download/llvmorg-10.0.0/clang+llvm-10.0.0-x86_64-linux-gnu-ubuntu-18.04.tar.xz
      - tar xf clang+llvm-10.0.0-x86_64-linux-gnu-ubuntu-18.04.tar.xz -C $HOME/llvm-10
      - chmod +x scripts/travis/install_boost.sh
      - scripts/travis/install_boost.sh
    script:
      - mkdir build && cd build
      - cmake -DCMAKE_C_COMPILER=$CLANG -DCMAKE_CXX_COMPILER=$CLANGPP ..
      - make